
body {
    background-color: #343233;
    color: #EFDAB9;
}

main {
    background-color: #FFD152;
    color: #343233;
    border-radius: 10px;
    height: 60vh;
}

code {
    font-family: 'Inconsolata', monospace;
    border: solid;
    border-color:black;
    line-height: 100%;
    background-color: #343233;
    color: white;
    font-size: 16pt;
}

.tabbed-code {
    margin-left: 40px;
}


.row {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #494748;
    color: rgb(231, 221, 221);
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #343233;
}

.btn:hover {
    color: #FFD152;
    background-color: #343233;
}