html {
    min-width: 360px;
}


body {
    background-color: #343233;
    color: #EFDAB9;
}

main {
    background-color: #FFD152;
    color: #343233;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 50px;
    min-height: 60vh;
}

li button {
    min-width: 150px;
    margin-left: 10px;
}

.list-group {
    list-style: decimal inside;
    width: 75%;
}

.list-group-item {
    display: list-item;
    background-color: #FFD152;
}

.tabbed-code {
    margin-left: 40px;
}


.row {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #494748;
    color: rgb(231, 221, 221);
    border-bottom: solid;
    border-bottom-width: 2px;
    border-color: #343233;
}

.btn:hover {
    color: #FFD152;
    background-color: #343233;
}

.code-prompt {
    font-family: 'Inconsolata', monospace;
    line-height: 100%;
    background-color: #343233;
    color: white;
    font-size: 15pt;
    padding: 10px 10px;
    margin: 20px;
    border-radius: 2px;
    max-width: 80%;
}

.code-answer {
    font-family: 'Inconsolata', monospace;
    line-height: 100%;
    color: white;
    font-size: 14pt;
}

#timer {
    width: 150px;
    line-height: 200%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 17px;
    background-color: #343233;
    color: white;
    border-radius: 10px;
}

@media only screen and (max-width: 767.98px) {
    .code-prompt {
        max-width: 90%;
    }

    .list-group {
        width: 100%;
    }
}