
body {
    background-color: #343233;
    color: #EFDAB9;
}

main {
    background-color: #FFD152;
    color: #343233;
    border-radius: 10px;
    height: 60vh;
}

.row {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: blue;
    color: rgb(231, 221, 221);
}

.btn:hover {
    color: yellow;
}